In [55]:
# import dependencies 
import os
import pandas as pd
from sqlalchemy import create_engine

In [57]:
#import and read second csv file
csv_file = "static/data/ESG_Database_cleaned.csv"
ESG_score_df = pd.read_csv(csv_file)
ESG_score_df.head()

,Ticker,Company Name,HQ City,ESG Risk Score,ESG Risk Score Level,Environment Risk Score,Social Risk Score,Governance Risk Score,Controversy Level Risk Text,2019 Performance,Industry,Sector
0,AR,Antero Resources Corporation,Denver,55,Severe,28.2,16.4,10.2,Moderate,-69.648562,Oil & Gas - E&P,Energy
1,RRC,Range Resources Corporation,Fort worth,46,Severe,23.9,12.4,9.7,Moderate,-49.320794,Oil & Gas - E&P,Energy
2,ECA,Encana Corporation,Denver,35,High,18.3,8.7,7.9,Moderate,-18.858131,Oil & Gas - E&P,Energy
3,CHK,Chesapeake Energy Corporation,Oklahoma city,44,Severe,22.8,11.0,9.8,Moderate,-60.476190,Oil & Gas - E&P,Energy
4,TRQ,Turquoise Hill Resources Ltd.,Vancouver,41,Severe,17.4,12.5,10.8,Moderate,-55.151515,Metals & Mining,Basic Materials

In [59]:
# generate path to csv
csv_path = os.path.join('static/data', 'ESG_Database_cleaned.csv')
ESG_Database_cleaned_csv = pd.read_csv(csv_path)

In [60]:
#create connection with database engine
connection_string = "postgres:postgres@localhost:5432/ESG_tbl_DB"
engine = create_engine(f'postgresql://{connection_string}')

In [65]:
#check table
engine.table_names()

['ESG_tbl_DB']

In [66]:
#load dataframe "us review" into database
ESG_table.to_sql(name='ESG_tbl_DB', con=engine, if_exists='append', index=False)

NameError: name 'ESG_table' is not defined

In [47]:
# create html table and save to file 
ESG_Database_cleaned_csv.to_html('table.html', index=False, classes=['table', 'table-striped', 'table-hover'])

In [48]:
#create local database connection
connection_string = "postgres:postgres@localhost:5432/ESG_tbl_DB"
engine = create_engine(f'postgresql://{connection_string}')

In [49]:
engine.table_names()

['ESG_tbl_DB']

In [54]:
ESG_tbl_DB.to_sql(name='ESG_tbl_DB', con=engine, if_exists='append', index=False)

NameError: name 'ESG_tbl_DB' is not defined

In [51]:
pd.read_sql_query('select * ESG_tbl_DB', con=engine).head()

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "ESG_tbl_DB"
LINE 1: select * ESG_tbl_DB
                 ^

[SQL: select * ESG_tbl_DB]
(Background on this error at: http://sqlalche.me/e/f405)